STM_workspace/project1/Debug
c_1project/cmake*
c++_2project/.*
STM_workspace/project1/Debug
*.dat
*.dat
*.snap
*.resources
*.xml
*.ini

*.xmi
STM_workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*.xmi
*.prefs
*.resources
*.snap
STM_workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*.prefs
*.resources
*.dat
STM_workspace/.metadata/.log
libraries/.DS_Store
*.log
*.log
*.snap
*.resources
*.prefs
*.xmi
STM_workspace/.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
STM_workspace/.metadata/.plugins/org.eclipse.cdt.ui/project1.build.log
STM_workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
STM_workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
STM_workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
STM_workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
STM_workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
STM_workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
STM_workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
