STM_workspace/project1/Debug
STM_workspace/.metadata
c_1project/cmake*
c++_2project/.*
STM_workspace/project1/Debug
*.dat
*.dat
*.snap
*.resources
*.xml
*.ini

*.xmi
STM_workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*.xmi
*.prefs
*.resources
*.snap
